<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_post_retry_Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/07 07:00:24</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:TestScript.Post_Test_Script@71075444]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757708014</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/07 07:00:20</td>   <td>-3661</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setup()[pri:0, instance:TestScript.Post_Test_Script@71075444]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757708014</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/07 07:00:20</td>   <td>-3615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate_post_API()[pri:0, instance:TestScript.Post_Test_Script@71075444]">validate_post_API</td> 
  <td>main@757708014</td>   <td></td> </tr>
</table>
