<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_priority_practice</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/14 06:27:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_priority_practice.Test3()[pri:3, instance:TestScript.post_priority_practice@710c2b53]">Test3</td> 
  <td>main@1096485705</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/14 06:27:29</td>   <td>-132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_priority_practice.Test1()[pri:1, instance:TestScript.post_priority_practice@710c2b53]">Test1</td> 
  <td>main@1096485705</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/14 06:27:29</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_priority_practice.Test2()[pri:2, instance:TestScript.post_priority_practice@710c2b53]">Test2</td> 
  <td>main@1096485705</td>   <td></td> </tr>
</table>
