<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_put_differentclass</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/21 21:59:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_dataprovider_differentclass.validate_PUT_API(java.lang.String,java.lang.String)[pri:0, instance:TestScript.Put_dataprovider_differentclass@673fdbce]">validate_PUT_API</td> 
  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/21 21:59:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_dataprovider_differentclass.validate_PUT_API(java.lang.String,java.lang.String)[pri:0, instance:TestScript.Put_dataprovider_differentclass@673fdbce]">validate_PUT_API</td> 
  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/21 21:59:18</td>   <td>-876</td> <td>&nbsp;</td><td title="&gt;&gt;Put_dataprovider_differentclass.setup()[pri:0, instance:TestScript.Put_dataprovider_differentclass@673fdbce]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/21 21:59:19</td>   <td>26</td> <td>&nbsp;</td><td title="&lt;&lt;Put_dataprovider_differentclass.teardown()[pri:0, instance:TestScript.Put_dataprovider_differentclass@673fdbce]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
</table>
