<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_parallel_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/06 16:51:01</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setup()[pri:0, instance:TestScript.Post_Test_Script@4007f65e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="7e93f1">  <td>24/05/06 16:51:05</td>   <td>4181</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_TestScript.setup()[pri:0, instance:TestScript.Delete_TestScript@5a5a729f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="69fba1">  <td>24/05/06 16:51:06</td>   <td>5140</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestScript.setup()[pri:0, instance:TestScript.Get_TestScript@624ea235]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="7cfb87">  <td>24/05/06 16:51:08</td>   <td>6968</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestScript.setup()[pri:0, instance:TestScript.Put_TestScript@821330f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="857fe2">  <td>24/05/06 16:51:09</td>   <td>8081</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.setup()[pri:0, instance:TestScript.Patch_TestScript@6f15d60e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="6f89a2">  <td>24/05/06 16:51:10</td>   <td>8979</td> <td>&nbsp;</td><td title="&gt;&gt;Post_param_Test_Script.setup()[pri:0, instance:TestScript.Post_param_Test_Script@2657d4dd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/06 16:51:05</td>   <td>4120</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:TestScript.Post_Test_Script@4007f65e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="7e93f1">  <td>24/05/06 16:51:06</td>   <td>5121</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_TestScript.teardown()[pri:0, instance:TestScript.Delete_TestScript@5a5a729f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="69fba1">  <td>24/05/06 16:51:08</td>   <td>6945</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestScript.teardown()[pri:0, instance:TestScript.Get_TestScript@624ea235]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="7cfb87">  <td>24/05/06 16:51:09</td>   <td>8058</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestScript.teardown()[pri:0, instance:TestScript.Put_TestScript@821330f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="857fe2">  <td>24/05/06 16:51:10</td>   <td>8964</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.teardown()[pri:0, instance:TestScript.Patch_TestScript@6f15d60e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="6f89a2">  <td>24/05/06 16:51:11</td>   <td>10553</td> <td>&nbsp;</td><td title="&lt;&lt;Post_param_Test_Script.teardown()[pri:0, instance:TestScript.Post_param_Test_Script@2657d4dd]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/06 16:51:01</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate()[pri:0, instance:TestScript.Post_Test_Script@4007f65e]">validate</td> 
  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="7e93f1">  <td>24/05/06 16:51:05</td>   <td>4183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestScript.validate()[pri:0, instance:TestScript.Delete_TestScript@5a5a729f]">validate</td> 
  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="69fba1">  <td>24/05/06 16:51:06</td>   <td>5142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate()[pri:0, instance:TestScript.Get_TestScript@624ea235]">validate</td> 
  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="7cfb87">  <td>24/05/06 16:51:08</td>   <td>6971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript.validate()[pri:0, instance:TestScript.Put_TestScript@821330f]">validate</td> 
  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="857fe2">  <td>24/05/06 16:51:09</td>   <td>8087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate()[pri:0, instance:TestScript.Patch_TestScript@6f15d60e]">validate</td> 
  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="6f89a2">  <td>24/05/06 16:51:10</td>   <td>8981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_param_Test_Script.validate()[pri:0, instance:TestScript.Post_param_Test_Script@2657d4dd]">validate</td> 
  <td>main@1003292107</td>   <td></td> </tr>
</table>
