<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_post_dataprovider</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63b9fe">  <td>24/05/11 18:15:07</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_dataprovider_differentclass.setup()[pri:0, instance:TestScript.Post_dataprovider_differentclass@5b38c1ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@391135083</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 18:15:07</td>   <td>19</td> <td>&nbsp;</td><td title="&gt;&gt;Post_dataprovider_sameclass.setup()[pri:0, instance:TestScript.Post_dataprovider_sameclass@6f204a1a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@391135083</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 18:15:13</td>   <td>6624</td> <td>&nbsp;</td><td title="&lt;&lt;Post_dataprovider_sameclass.teardown()[pri:0, instance:TestScript.Post_dataprovider_sameclass@6f204a1a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@391135083</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/11 18:15:13</td>   <td>6620</td> <td>&nbsp;</td><td title="&lt;&lt;Post_dataprovider_differentclass.teardown()[pri:0, instance:TestScript.Post_dataprovider_differentclass@5b38c1ec]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@391135083</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 18:15:11</td>   <td>3981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_dataprovider_sameclass.validate_post_API(java.lang.String,java.lang.String)[pri:0, instance:TestScript.Post_dataprovider_sameclass@6f204a1a]">validate_post_API</td> 
  <td>main@391135083</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 18:15:11</td>   <td>3981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_dataprovider_sameclass.validate_post_API(java.lang.String,java.lang.String)[pri:0, instance:TestScript.Post_dataprovider_sameclass@6f204a1a]">validate_post_API</td> 
  <td>main@391135083</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/11 18:15:13</td>   <td>5825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_dataprovider_differentclass.validate_post_API(java.lang.String,java.lang.String)[pri:0, instance:TestScript.Post_dataprovider_differentclass@5b38c1ec]">validate_post_API</td> 
  <td>main@391135083</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/11 18:15:13</td>   <td>5825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_dataprovider_differentclass.validate_post_API(java.lang.String,java.lang.String)[pri:0, instance:TestScript.Post_dataprovider_differentclass@5b38c1ec]">validate_post_API</td> 
  <td>main@391135083</td>   <td></td> </tr>
</table>
