<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_Put_priority</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/21 14:56:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_priority_TestScript.validate_PUT_API2()[pri:2, instance:TestScript.Put_priority_TestScript@4d1bf319]">validate_PUT_API2</td> 
  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/21 14:56:40</td>   <td>-2093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_priority_TestScript.validate_PUT_API1()[pri:1, instance:TestScript.Put_priority_TestScript@4d1bf319]">validate_PUT_API1</td> 
  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/21 14:56:43</td>   <td>580</td> <td>&nbsp;</td><td title="&lt;&lt;Put_priority_TestScript.teardown()[pri:0, instance:TestScript.Put_priority_TestScript@4d1bf319]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/21 14:56:40</td>   <td>-2119</td> <td>&nbsp;</td><td title="&gt;&gt;Put_priority_TestScript.setup()[pri:0, instance:TestScript.Put_priority_TestScript@4d1bf319]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
</table>
