<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_datadriven_via_xml</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4949f">  <td>24/05/10 16:48:36</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_datadriven_testnNG_xml.setup()[pri:0, instance:TestScript.Post_datadriven_testnNG_xml@1a245833]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@90567568</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/10 16:48:40</td>   <td>3606</td> <td>&nbsp;</td><td title="&lt;&lt;Post_datadriven_testnNG_xml.teardown()[pri:0, instance:TestScript.Post_datadriven_testnNG_xml@1a245833]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@90567568</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/10 16:48:36</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_datadriven_testnNG_xml.validate_post_API(java.lang.String,java.lang.String)[pri:0, instance:TestScript.Post_datadriven_testnNG_xml@1a245833]">validate_post_API</td> 
  <td>main@90567568</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/10 16:48:41</td>   <td>4559</td> <td>&nbsp;</td><td title="&lt;&lt;Post_datadriven_testnNG_xml.teardown()[pri:0, instance:TestScript.Post_datadriven_testnNG_xml@5a5a729f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@90567568</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/10 16:48:40</td>   <td>3672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_datadriven_testnNG_xml.validate_post_API(java.lang.String,java.lang.String)[pri:0, instance:TestScript.Post_datadriven_testnNG_xml@5a5a729f]">validate_post_API</td> 
  <td>main@90567568</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/10 16:48:40</td>   <td>3669</td> <td>&nbsp;</td><td title="&gt;&gt;Post_datadriven_testnNG_xml.setup()[pri:0, instance:TestScript.Post_datadriven_testnNG_xml@5a5a729f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@90567568</td>   <td></td> </tr>
</table>
