<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_priority</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/15 06:57:42</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_priority_TestScript.setup()[pri:0, instance:TestScript.Post_priority_TestScript@6f53b8a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/15 06:57:49</td>   <td>6503</td> <td>&nbsp;</td><td title="&lt;&lt;Post_priority_TestScript.teardown()[pri:0, instance:TestScript.Post_priority_TestScript@6f53b8a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/15 06:57:42</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_TestScript.validate_post_API1()[pri:1, instance:TestScript.Post_priority_TestScript@6f53b8a]">validate_post_API1</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/15 06:57:47</td>   <td>4469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_TestScript.validate_post_API2()[pri:2, instance:TestScript.Post_priority_TestScript@6f53b8a]">validate_post_API2</td> 
  <td>main@332873513</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/15 06:57:48</td>   <td>5426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_TestScript.validate_post_API3()[pri:3, instance:TestScript.Post_priority_TestScript@6f53b8a]">validate_post_API3</td> 
  <td>main@332873513</td>   <td></td> </tr>
</table>
