<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite_priority]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4949f">  <td>24/05/13 14:47:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_priority_TestScript.setup()[pri:0, instance:TestScript.Post_priority_TestScript@5965d37]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795321555</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/13 14:47:45</td>   <td>7841</td> <td>&nbsp;</td><td title="&lt;&lt;Post_priority_TestScript.teardown()[pri:0, instance:TestScript.Post_priority_TestScript@5965d37]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795321555</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/13 14:47:44</td>   <td>7217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_TestScript.validate_post_API2()[pri:2, instance:TestScript.Post_priority_TestScript@5965d37]">validate_post_API2</td> 
  <td>main@795321555</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/13 14:47:44</td>   <td>7217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_TestScript.validate_post_API2()[pri:2, instance:TestScript.Post_priority_TestScript@5965d37]">validate_post_API2</td> 
  <td>main@795321555</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/13 14:47:44</td>   <td>7217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_TestScript.validate_post_API2()[pri:2, instance:TestScript.Post_priority_TestScript@5965d37]">validate_post_API2</td> 
  <td>main@795321555</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/13 14:47:44</td>   <td>7217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_TestScript.validate_post_API2()[pri:2, instance:TestScript.Post_priority_TestScript@5965d37]">validate_post_API2</td> 
  <td>main@795321555</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/13 14:47:44</td>   <td>7217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_TestScript.validate_post_API2()[pri:2, instance:TestScript.Post_priority_TestScript@5965d37]">validate_post_API2</td> 
  <td>main@795321555</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/13 14:47:44</td>   <td>7217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_TestScript.validate_post_API2()[pri:2, instance:TestScript.Post_priority_TestScript@5965d37]">validate_post_API2</td> 
  <td>main@795321555</td>   <td></td> </tr>
</table>
